*
!.gitignore
!.github/
!.github/**
!docs/
!docs/**
!website/
!website/**
__/pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store

# Environment variables and secrets
.env
website/.env
secrets.py
website/secrets.py